html {
  height: 100vh;
}
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Mynerve', cursive;
  // background-color: $clr-1;
  background: url(../../../imgs/background5.jpg) no-repeat;
  background-size: cover;
}
