.guitar-details {
  margin: auto;
  margin-top: 2em;
  width: max-content;
  padding: 0.5em;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

.guitar-details img {
  max-width: 160px;
  min-width: 120px;
}

.user-msgs-container {
  list-style: none;
  border: 1px solid black;
  border-radius: 15px;
  background-color: lighten($clr-4, 25%);
  padding: 0;
}

.user-msgs-container li {
  display: flex;
  justify-content: space-around;
  // gap: 2em;
}

.review {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-block-start: 1em;
}
